@page "/challenges"

<PageTitle>Challenges</PageTitle>

<div class="row">
    <div class="col-6">
        <h4 style="text-align: center;"><strong>Join the Monthly Recipe Challenge</strong></h4>
        <p>
<br>
<br>
           Step 1: Make the Recipe
<br>
           Each month a new challenge recipe will be featured, stay tuned for the latest month's challenge recipe!
<br>

            Step 2: Leave a Review. 
<br>
            Upload a photo of your completed dish and leave a review on our review page! Once completed, you'll be entered into the monthly challenge. 
<br>
            Step 3: Win!
<br>
            Once the challenge period ends, one winner will be selected and featured on our site.
        </p>
        </div>
        <div style="text-align: center;" class="col-5 d-flex justify-content-center" id = "challenge">
        <div class="row">
            <h4><strong>Meet Our March Winner</strong></h4>
<br>
<br>
            <img src="images/gladys.jpeg" alt="gladys" style="height: 160px; width:auto;" class="mx-auto d-block">
            <div style="text-align: center;">

            <p>
            Gladys W.
<br>  
<br>          
            "My family and I LOVED this dish. I will definitely be making Shrimp Gumbo again soon. 
                Thanks reciperoulette.com! 12/10"
            </p>
            </div>
        </div>
        </div>
        </div>
@code{

}