@page "/forum"

<PageTitle>Community Forum</PageTitle>

<div class="row">
    <div class="col-8">
        <h4>Cooking Help, Hacks, and Culinary Adventures</h4>
    </div>
    <div class="col-4">
        Search: 
        <InputText @bind-Value=searchText @onkeyup=HandleKeyUp />
        <button role="button" class="btn btn-info" @onclick=FilterPosts>Search</button>
        <button type="button" class="btn btn-success" @onclick=ToggleInputForm>New Post</button>
    </div>
</div>
@if(!_hideInputForm)
{
    <div class="row">
        <div class="col-8"></div>
        <div class="col-2">
            Title of Post: 
            <InputText @bind-Value=inputModel.Title></InputText><br>
            @if(_showTitleMsg){
                <div style="color:red;">Post must have a title</div>
            }
        </div>
        <div class="col-2">
            Name of Author: 
            <InputText @bind-Value=inputModel.Author></InputText><br>
            @if(_showAuthorMsg){
                <div style="color:red">Post must have an author</div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
            <div class="mt-auto">
                Post Text: 
                <InputTextArea @bind-Value=description />
                <div>
                    <button role="button" class="btn btn-warning" @onclick=SavePost>Save</button>
                </div>
            </div>
        </div>
    </div> 
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Date</th>
            <th># of Replies</th>
        </tr>
    </thead>
    <tbody>
    @foreach(var post in _filteredPosts)
    {
        <tr>
            <td>@(post.Title)</td>
            <td>@(post.Author)</td>
            <td>@(post.Date.ToString("d"))</td>
            <td>@(post.NumReplies)</td>
        </tr>
    }
    </tbody>
</table>