@page "/"

<PageTitle>Recipe Roulette</PageTitle>

<h4>Spin the wheel to discover today's exciting recipe!</h4>

<div class="row">
    <div class="col-2">
        <strong>Type of Meal</strong>
        <ul>
            <li><InputCheckbox @bind-Value="type.All"></InputCheckbox>All</li>
            <li><InputCheckbox @bind-Value="type.Breakfast"></InputCheckbox>Breakfast</li>
            <li><InputCheckbox @bind-Value="type.Lunch"></InputCheckbox>Lunch</li>
        </ul>
        <strong>Dietary Restrictions</strong>
        <ul>
            <li><InputCheckbox @bind-Value="diet.None"></InputCheckbox>None</li>
            <li><InputCheckbox @bind-Value="diet.Vegan"></InputCheckbox>Vegan</li>
            <li><InputCheckbox @bind-Value="diet.Dairy"></InputCheckbox>Lactose Intolerant</li>
        </ul>
    </div>
    <div class="col-2">
        <strong>Cuisine</strong>
        <ul>
            <li><InputCheckbox @bind-Value="cuisine.All"></InputCheckbox>All</li>
            <li><InputCheckbox @bind-Value="cuisine.American"></InputCheckbox>American</li>
            <li><InputCheckbox @bind-Value="cuisine.Chinese"></InputCheckbox>Chinese</li>
        </ul>
    </div>
    <div class="col-4">
        <div id="wheel-container"><div id="pointer"></div></div>
        <div id="wheel"></div>
    </div>
    <div class="col-4">
        <button class="btn btn-danger" @onclick="@SpinWheel">Spin!</button>
        <div>
            <strong>Tonights recipe is!:</strong><br>
                @if(recipe != null){
                    <strong>
                        @recipe.RecipeName
                    </strong>
                }
        </div>
    </div>
</div>



@code{
    
}