@page "/"
@inject IJSRuntime js;

<PageTitle>Recipe Roulette</PageTitle>

<h4>Spin the wheel to discover today's exciting recipe!</h4>

<div class="row">
    <div class="col-2">
        <strong>Type of Meal</strong>
        <ul>
            <li><InputCheckbox @bind-Value="type.All"></InputCheckbox>All</li>
            <li><InputCheckbox @bind-Value="type.Breakfast"></InputCheckbox>Breakfast</li>
            <li><InputCheckbox @bind-Value="type.Lunch"></InputCheckbox>Lunch</li>
        </ul>
        <strong>Dietary Restrictions</strong>
        <ul>
            <li><InputCheckbox @bind-Value="diet.None"></InputCheckbox>None</li>
            <li><InputCheckbox @bind-Value="diet.Vegan"></InputCheckbox>Vegan</li>
            <li><InputCheckbox @bind-Value="diet.Dairy"></InputCheckbox>Lactose Intolerant</li>
        </ul>
    </div>
    <div class="col-2">
        <strong>Cuisine</strong>
        <ul>
            <li><InputCheckbox @bind-Value="cuisine.All"></InputCheckbox>All</li>
            <li><InputCheckbox @bind-Value="cuisine.American"></InputCheckbox>American</li>
            <li><InputCheckbox @bind-Value="cuisine.Chinese"></InputCheckbox>Chinese</li>
        </ul>
    </div>
    <div class="col-4">
        <div id="wheel-container"><div id="pointer"></div></div>
        <div id="wheel"></div>
    </div>
    <div class="col-4">
        <button class="btn btn-danger" @onclick="@SpinWheel">Spin!</button>
        <div>
            <strong>Tonights recipe is!:</strong><br>
        </div>
    </div>
</div>



@code{
    public class Type { 
        public bool All {get;set;} = false;
        public bool Breakfast {get;set;} = false;
        public bool Lunch {get;set;} = false;
    }
    public class Cuisine {
        public bool All {get;set;} = false;
        public bool American {get;set;} = false;
        public bool Chinese {get;set;} = false;
    }
    public class Diet {
        public bool None { get; set; } = false;
        public bool Vegan { get; set; } = false;
        public bool Dairy { get; set; } = false;
    }
    private int rotationStart = 0;
    public Type type = new Type();
    public Cuisine cuisine = new Cuisine();
    public Diet diet = new Diet();
    private void SpinWheel(){
        Random r = new Random();
        int end = r.Next(720) + rotationStart + 360;
        string startRotation = rotationStart.ToString() + "deg";
        string endRotation = end.ToString() + "deg";
        js.InvokeVoidAsync("spinWheel", startRotation, endRotation);
        rotationStart = end;
    }
}