<div class="py-2 background gtext-center">
    <div class="px-5">
        <h1 class="cover display-5">Recipe Roulette</h1>
        <h3 class="cover display-7">Unleash your inner chef!</h3>
        <div class="py-5">
            <div class="p-2">
                <div class="p-5"></div>
            </div>
        </div>
    </div>
</div>