
@inherits LayoutComponentBase

<PageTitle>Recipe Roulette</PageTitle>

<header class="container-fluid">
    <Jumbotron />
    <Navbar />
</header>

<main class="container-fluid p-1 m-2">
    @Body
</main>
