<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item nav-item-active p-2">
                    <NavLink class="nav-link" href="/" style="color: black; font-weight: bold">Home</NavLink>
                </li>
                <li class="nav-item p-2">
                    <NavLink class="nav-link" href="example" style="color: black; font-weight: bold">Example</NavLink>
                </li>
                <li class="nav-item p-2">
                    <NavLink class="nav-link" href="counter" style="color: black; font-weight: bold">Counter</NavLink>
                </li>
                <li class="nav-item p-2">
                    <NavLink class="nav-link" href="forum" style="color: black; font-weight: bold">Forum</NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>